<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>Simplicity</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel='stylesheet'  href='/templates/style.css' type='text/css' media='all' />
<link rel='stylesheet'  href='/templates/main.css' type='text/css' media='all' />
<link rel='stylesheet'  href='/templates/normalize.css' type='text/css' media='all' />
<link rel='stylesheet'  href='/templates/jquery.steps.css' type='text/css' media='all' />
<script type="text/javascript" src="/templates/jquery.js"></script>
<script type="text/javascript" src="/templates/jquery.steps.js"></script>
<script type="text/javascript" src="/templates/jquery.steps.min.js"></script>
<script type="text/javascript" src="/templates/jquery.cookie.js"></script>
</head>

<body>

<div id="wrap">

<div id="header"> 
	<h1 id="logo"><a href="http://simplicity.xi.com.au">Simplicity</a></h1>
</div> <!-- #header -->

<div id="nav">
	<ul id="menu" class="">
		<li class="menu-item"><a href="/base/manage/users/">Users</a></li>
		<li class="menu-item"><a href="/base/manage/online/">Online Users</a></li>	
		<li class="menu-item"><a href="/base/manage/wholesalers/">Wholesalers</a></li>
		<li class="menu-item"><a href="/base/manage/orders/">Orders</a></li>	
		<li class="menu-item"><a href="/base/manage/plans/">Plans</a></li>
		<li class="menu-item"><a href="/base/manage/audit/">Audit</a></li>	
		<li class="menu-item"><a href="/base/manage/adsl_service/">ADSL Service Usage</a></li>
		<li class="menu-item submenu"><a href="">Billing</a>
			<!-- <ul style="position: absolute; margin: 0px; padding: 0px;background-image: url('/images/bg-submenu.jpg')">
				<li><a href="/base/manage/billing/item_types">Invoice Item Types</a></li>
				<li><a href="/base/manage/billing/item_types">Pending Items</a></li>
			</ul> -->
			<div style="position: absolute; margin: 0px; padding: 0px;background-image: url('/images/bg-submenu.jpg')">
				<span><a href="/base/manage/billing/item_types">Invoice Item Types</a></span>
				<span><a href="/base/manage/billing/once_off">Pending Items</a></span>
			</div>
		</li>
		<li class="menu-item"><a href="/base/manage/reports/">Reports</a></li>
		<li class="menu-item"><a href="/base/changepw/">Change Password</a></li>
		<li class="menu-item"><a href="/base/logout/">Logout</a></li>
	</ul>			
</div>

<div id="content">
	{WELCOME_BANNER}
	<div id="main-content">
	{MAIN}
	</div>
</div>

</div> <!-- #wrap -->

<div id="footer">
<p>&copy; 2017 X Integration. All rights reserved</p>
</div>
</body>
</html>
