<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>Simplicity</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel='stylesheet'  href='/templates/style.css' type='text/css' media='all' />
<link rel='stylesheet'  href='/templates/main.css' type='text/css' media='all' />
<link rel='stylesheet'  href='/templates/normalize.css' type='text/css' media='all' />
<link rel='stylesheet'  href='/templates/jquery.steps.css' type='text/css' media='all' />
<script type="text/javascript" src="/templates/jquery.js"></script>
<script type="text/javascript" src="/templates/jquery.steps.js"></script>
<script type="text/javascript" src="/templates/jquery.steps.min.js"></script>
<script type="text/javascript" src="/templates/jquery.cookie.js"></script>
</head>

<body>

<div id="wrap">

<div id="header"> 
	<h1 id="logo"><a href="http://simplicity.xi.com.au">Simplicity</a></h1>
</div> <!-- #header -->

<div id="nav">
	<ul id="menu" class="">
		<li class="menu-item"><a href="/availability/">Check Service Availability</a></li>
		<li class="menu-item"><a href="/">Log in</a></li>
	</ul>			
</div>

<div id="content">
	{WELCOME_BANNER}
	<div id="main-content">
	{MAIN}
	</div>
</div>




</div> <!-- #wrap -->

<div id="footer">
<p>&copy; 2015 X Integration. All rights reserved</p>
</div>
</body>
</html>
